body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: #212121;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    overflow: auto;
}

.todo-app h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.input-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button.btn {
    border: none;
    outline: none;
    padding: 15px 40px;
    background: #212121;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}

.list-container li{
    list-style: none;
    margin-left: -35px;
    font-size: 17px;
    padding: 12px 8px 12px 0;
    border: 0.5px solid #CCC;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.chbox {
    margin-left: 20px;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    accent-color: #212121;
}

li .options{
    display: flex;
    gap: 10px;
}

button.edit {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #4D869C;
    color: #EEF7FF;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
}

button.delete {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #BF3131;
    color: #EEF7FF;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
}